@import url('https://fonts.googleapis.com/css2?family=Montserrat');
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
#home-container{
    margin-bottom: 10%;
}

.bgImgage{
    background-image: url('../images/frt1.jpeg');
    height: fit-content;
    line-height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-size: 100% 100%;
    /* opacity: 0.9; */
    /* top: 0px; */
    background-attachment: fixed;
}

.topProd div:hover{
    transition: 0.6s;
}

.topProd div img:hover{
    opacity: 0.9;
    color: #5ba616;
    width: 250;
    height: 20;
}

.shop-now-btn-1{
    position: absolute;
    bottom: 30%;
    right:-30%
}
.shop-now-btn-2{
    bottom: 15%;
    left:15%
}
.shop-now-btn-3{
    bottom: 20%;
    right:-20%
}
.shop-button{
    width: 15vw;
    height: auto;
    background: none;
    border: 1px double #7CA646;
    color: #7CA646;
    font-size: 1.5em;
    padding: 5px 0px;
    transition: all 0.3s ease-in;
}
.shop-button:hover{
    /* color: #fff;
    background: #7CA646; */
    border: 2px double #7CA646;
    box-shadow: 2px 2px 14px 8px gainsboro;
    z-index: 2;
    transform: translateY(-5%);
}

#our-suppliers{
    margin-top: 5rem;
}

#our-suppliers .sec-1 h2{
    /* color: rgb(91, 166, 22); */
    color: black;
    font-weight: bolder;
    letter-spacing: .1em;
}
.sec-1{
    text-align: center;
    width: 100%;
    /* display: flex;
    justify-content: center; */
}
.sec-1 h6{
    text-align: center;
}
.homeMiddle{
    /* position: relative; */
    text-align: center;
    /* margin-top: 60px; */
    height: 12rem;
}
#upper-leafs-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    
}
/* .homeMiddle img{
    display: block;
    /* text-align: center; */
    /* position: relative;
    left: 43%; */
    /* margin-bottom: 20px; */
    
 
 #mid-section-home{
     position: relative;
     /* z-index: 100; */
 }   

.homeMiddle h6,p{
    text-align: center;
}

.threeMiddlw{
    /* position: relative; */
    
    background: linear-gradient(
        to right,
        #fff 0%,
        #fff 40%,
        #406a05 40%,
        #406a05 100%

    );
    width: 100%;
    margin-right: 0;
    padding: 5rem 0;
    /* padding-right: 6%; */
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}



.middleLeft{
    text-align: left;
    /* padding: 10px; */
}
.middleLeft p{
    margin-top: 25px !important;
    margin-bottom: 50px;
    text-align: left;
    font-size: 0.9em;
    /* line-height: 16px; */
    line-height: 1.67;
    letter-spacing: 0.36px;
}
.middleLeft h4{
    text-align: left;
    color: #5ba616;
    font-weight: 500;

}
.middleLeft img{
    padding-right: 1rem;
}

.middleRight{
    padding-right: 0;
    background: #406a05;
    /* width:100%; */
    float: right;
}  

.middleRight p{
    text-align: end;
    margin-top: 25px !important;
    margin-bottom: 50px;
    font-size: 0.9em;
    /* line-height: 16px; */
    color: #d2fffb;
    line-height: 1.67;
    letter-spacing: 0.36px;
}
.middleRight h4{
    text-align: right;
    color: #ffffff;
    position: relative;
    bottom: -3px;
    font-weight: 600;
    font-size: 30.5px;

}

.middleRight img{
    color: #ffffff;
    padding-left: 1rem;
}

#avocado-side-img{
    width: 18%;
    position: absolute;
    z-index: 100;
    top: -7rem;
    left: -1%;

}
.round-p{
    width: 5rem;
    height: 65%;
    background: #efefef;
    border-radius: 100%;
    margin: auto;
    vertical-align: middle;
}
.round-p img{
    position: relative;
    top: 1rem;
    left: 1.5rem
}
    
.midLow h4{
    width: max-content;
    margin: auto;
   color: #5ba616;
   text-align: center;
 
}
#featuredProducts{
    margin-bottom: 4rem;
    position: relative;
}

#featuredProducts .select-option-icon{
    padding: 1rem;
    width: 6rem;
}
#featuredProducts span{
    padding: 1rem;
    padding-left: 0;
    /* width: 6rem; */
}
#featuredProducts #lowerLeaf{
    position: absolute;
    width: 13rem;
    z-index: 100;
    top: -4rem;
    right: -0;
}
#featuredProducts h2{
    font-weight: bold;
}

.top-items-list{
    /* padding: 0 2rem; */
    margin: 0;
}

.home-item-imageBx{
    overflow: hidden;
    border-radius: 1em;
    width: 100%;
    height: 14%;
    margin-bottom: 10px;
}
img{
    transform-style: preserve-3d;
}

.home-item-imageBx img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.p1{
    margin: 0px;
    margin-bottom: 3%;
    overflow: hidden;
    /* border: 1px solid #7CA746; */
    box-shadow: 1px 1px 18px 4px #efefef;
    /* padding: 1em; */
    /* border-radius: 1rem; */
    /* padding-right: 0px; */
}


.card-item-name h5{
    font-size: 1rem;
}

.lowerProd{
    margin: 0px !important;
}
.prodImg{
    padding: 20px;
    padding-right: 0px;
    display: block;
}
.p1 h5,.p2 h5,.p3 h5,.p4 h5{
    text-align: left;
    margin-bottom: 0px;
    font-weight: bold;
}

.p1 img{
    width: 100%;
    max-height: 13rem;
}



.p1:hover,.p2:hover,.p3:hover,.p4:hover{
    transition: 0.7s;
}

.p1,.p2,.p3,.p4{
    cursor: pointer;
}

.p1:hover h5 , .p1:hover h2,.p3:hover h5,.p4:hover h5{
    transition: 0.7s;
    color: #5ba616;
}

.p1:hover img{
    transition: 0.7s;
    transform: scale(1.1);
}


.p1:hover .lowerProd,.p2:hover .lowerProd,.p3:hover .lowerProd,.p4:hover .lowerProd{
    opacity: 1;
}
.p1 lowerProd:hover{
    background-color: #5ba616;
    display: block;
}
.lowerProd{
    display: block;
    opacity: 0.0;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 0px
  
}
.lowerProd img{
    height: 45px;
    width: 45px;
    border: 1px solid #5ba616;   
    color: #5ba616;
    padding: 12px; 
}
.lowerProd img:hover{
    transition: 0.9s;
  }
.lowerProd img:hover{
  background-color: #5ba616;
  color: #ffffff;
}

.lowerProd:hover{
    opacity: 1;
}

.topInner{
    width: 80px;
    height: 40px;
    background-color: #5ba616;
    position: relative;
    left: 0;
    margin-left: -15px;
}
.topProd p{
    color
    : #ffffff;
}

.scndLower{
    margin-top: 50px;
    /* margin-left: 0px !important; */
    /* padding-right: 0px !important; */
    
}

.navInput{
    width: 100%;
   /* border-radius: 25px; */
   /* border: 3px solid #212529; */
   /* box-shadow: 1px 1px 1px 1px  #888888; */
   line-height: 40px;
   float: left;
   /* border-color: transparent; */
   text-decoration: none;
   /* color: #212529; */
   outline: none;
   padding-left: 20px;
   overflow: hidden; 

   /* margin-left: 39px; */
   /* margin-top: 3px; */
   border: 2px solid #cecdcd;
   border-radius: 48px;
   /* padding: 2px; */
   /* width: 80%; */
   
}

::placeholder {
    /* color: #9a9d9e; */
    font-weight: 300;
    opacity: 1; /* Firefox */
  }

  .navBtn{
    background-color: #5ba616;
    color: #fff;
    float: right;
    /* position: relative; */
    /* margin-left: -70px; */
    /* margin-bottom: -50px; */
    top: 8%;
    right: 4%;
    border-radius: 25px;
    width: 20%;
    line-height: 33px;
    border: 1px solid #5ba616;
    text-decoration: none;
    outline: none;
}

.homeImg{ 
/* background-image: url('../images/h1.webp'); */
position: relative;
height: fit-content;
width: 100%;
background-repeat: no-repeat;
/* padding-left: 20px; */
padding: 0;
background-size: 100% 100%;
opacity: 0.9;
top: 0px;
cursor: pointer;
/* display: ; */
}

.grow-best-food{
    padding: 0;
    padding-top: 8%;
}
.grow-best-food h2{
  /* font-size: 55.5px; */
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.11px;
  text-align: center;
  color: #000000;
}



.carousel-item img:focus{
    background-color: #5ba616;
    width: 50%;
}

.newsFeed{
    width: 100%;
    position: relative;
    background-color: #f7f6f2;
    margin-bottom: 5rem;
    min-height: 17rem;
    padding: 5em;
}
.newsFeed img{
    width: 25vw;
    position: absolute;
    top: -22%;
    left: 0;
}

.newsFeed input[type=text]{
    width: 40%;
    /* max-height: 5vh; */
    border: 0;
    /* padding: 0.6em 0; */
    line-height: 40px;
    border-bottom: 2px solid black;
    background: none;
    transition: all 0.5s ease-out;
}
.newsFeed input[type=text]:focus{
    outline: none;
    border: 2px solid black;
    padding: 0 1em;
}
.newsFeed button{
    position: absolute;
    right: 20.5%;
    width: auto;
    /* height: 3vh; */
    font-size: .8em;
    padding: 1em 3em;
    letter-spacing: 0.06em;
    background: black;
    color: #efefef;
    border: none;
}
.loaders {
    margin-left:40%   !important;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #5ba616;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media (min-width: 1030px) {
    /* .middleRight p{
        text-align: center;
    } */
    /* .top-items-list{
      padding: 0 5rem;
      margin: 0;  
  } */
}
@media (max-width: 775px) {
    /* html{
        width: 50rem !important;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    body{
        display: none;
        width: 50rem !important;
    } */
}