/* .nav1{
    back
} */
body {
    margin: auto 0px;
}
.nav{
  display: flex;
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: #fff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  box-shadow: 0px -3px 3px 4px #ccc;
  list-style: none;
}
.navUpper{
    margin-top: 25px !important;
    position: relative;
    height: 3rem;
    top: 0px;
    z-index: 9999999999;
}

.nav-active-link{

  color: #5ba616 !important;
  transition-duration: 0.25s;
  padding-bottom: 5px;
  transform: translateY(-5%) !important;

}

.searchFilterOut{
  position: fixed;
  top: 5rem;
  width: 35vw;
  background: #fff;
}

.img-fluid{
  max-width: 60%;
  max-height: 15%;
  /* position: fixed;
  top: -1%;
  left: 4%; */
}
.bottomNav{
  text-decoration: none;
  display: inline-block;
  padding: 0px !important;
  text-align: center;
}
.bottomNav li{
 
  text-decoration: none;
  display: inline-block;
  padding-left:  25px !important;
  padding-right:  25px !important;
  text-align: center;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.bottomNav li:hover{
  color: #5ba616;
  transform: (1.1);
}

.bottomNav li a{
  text-decoration: none;
  color: #575555;
  font-size: .9em;
  font-weight: 600;
}

.navInputt{
     width: 100%;
    line-height: 40px;
    float: left;
    text-decoration: none;
    padding-left: 0px;
    overflow: hidden; 
    border: none;
    border-bottom: 2px solid #cecdcd;
    transition: all 0.25s ease-in;
}
.navInputt:focus{
  outline: none;
  padding-left: 10px;
  border-bottom: none;
  border: 1px solid #7CA646;
  
}

::placeholder {
    /* color: #9a9d9e; */
    font-weight: 300;
    opacity: 1; /* Firefox */
  }

  .searchFilterIn{
    /* border: 1px solid black; */
    text-align: left;
    margin: 10px;
    padding-top: 10px;
    /* position: ; */
    /* top: 40px; */
    z-index: 100000;
    cursor: pointer;
  }

.navBtnn{
    background-color: #7CA646;
    color: #fff;
    float: right;
    position: absolute;
    top: 0;
    height: 2.7rem;
    right: 4rem;
    /* border-radius: 0; */
    width: 20%;
    line-height: 33px;
    border: 1px solid #5ba616;
    text-decoration: none;
    outline: none;

}
.heart{
    text-align: right;
    margin-top: 10px;
}
.heart img{
    padding-left: 0px !important;
    text-align: right;
    /* background-color: red; */
    padding-right: 0px !important;
    margin-right: 9%;
    display: inline;
}
.heart span{
    display: inline;
    margin-right: 9%;

}
.cartPrice{
    display: block;
    color: #5ba616;
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
    padding-left: 10px;
    
}
.responsiveNavMenuMain {
 background-color: #7CA646;
 padding: 0%;
 /* position: absolute; */
}
.responsiveNavMenu li{
 text-decoration: none;
 background-color: #FFF;
 list-style-type: none;
 text-align: left;
 line-height: 25px;
 margin-bottom: 3px;
 width: 100% !important;
 padding: 0%;
 
}
.responsiveNavMenu a{
  color: #7CA646;
}
sup{
    position: absolute;
    top: -6;
    right: 0px;
    background: #7CA646;
    height: 16px;
    width: 17px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    line-height: 18px;
    font-family: Montserrat;
}
.cart{
    text-align: left;
    margin-left: 0px;
    padding-left: 0px ;
}
.navLogo{
    text-align: left;
}
.fa{
    font-size: 40px;
    color: black;
}
.form1{
    text-align: center;
    width: 100%

}
.div{
    background-color: none !important;
}

.navs {
    padding-left: 25%;
    padding-right: 25%;
    
}
.scrolled{
	position: fixed;
	top: 0;
	width:  100%;
	z-index: 100000;
  background-color: #fff;
} 

.nav-link{
    padding: 0px 0px !important;

}
.nav-item {
    padding: 0px 0px !important;
}


.innerNav li a{     
    font-weight: 700;
    color: #000000 !important;
}

.hra{
    /* opacity: 0.0 !important; */
    display: none
}
.innerNav li a:hover{
    transition: 0.7s;
    color: #5ba616 !important;
}
.loader {
    margin-left:30%;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #5ba616;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.hra:hover{
    color: #5ba616;
    display: block !important;
    /* opacity: 1; */
}

a:hover{
    color: #5ba616 !important;
}


.navbar{
    background-color: transparent !important;
}


  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .hvr {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    /* display: block;  */
  }
  
  .dropdown-content:hover {
      /* background-color: #ddd; */
      width:250px;
    }
  
  .dropdown:focus .dropdown-content {display: block;width:300px;}
  

.desktop{
  height: 150px;
}

 
  