.editProdUl{
    padding: 0px;
}

.editProdUl li{
    display: inline-block;
    padding: 10px;
    font-weight: 600;
    color: #FF4747;
    cursor: pointer;
    border-bottom: 1px solid rgb(194, 193, 193);
}
.active{
    background-color: rgb(247, 244, 244);
    border: 1px solid rgb(194, 193, 193);
    border-radius: 3px;
    border-bottom: 0px;
    color: black;
    /* border: none; */
}
