.adminDashboard{
    background-color: rgb(229, 233, 236);
}

.left h2{
    color: #2A2A2D;
    margin-bottom: 0px ;
}

.left span{
    color: #676B79;
    text-align: left;
    display: ;
}

.adminProd{
    background-color: #ffffff;
}

.dataTd td{
    padding-top: 10px !important;
    padding-left: 0px;
    text-align: left;
}

.inputStatic{
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    cursor: default;
    text-align: left;
}
.inputStatic:focus{
    outline: none;
    display: none;
}
.inputActive{
    border-color: transparent;
    border-bottom: 1px solid green;
    background-color: transparent;

}
.inputActive:focus {
    border-color: transparent;
    border-bottom: 1px solid green;
    background-color: transparent;
    outline: none;
}
.scroll{
    overflow-y: scroll;
}
.upperTr th{
    padding-left: 0px !important;
    text-align: left;
}
