

.product-upper{
    background-image: url('../centralized/images/products-banner.jpg');
    /* height: 40vh; */
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0;
    background-size: 100% 100%;
    /* opacity: 0.9; */
    top: 0px;

}

#fruit-collapse{
    max-height: 0;
    list-style-type: symbols();
    transition: all 0.5s ease-out;
    
}
/* .l11:focus #fruit-collapse{
    max-height: '8rem';
} */

/* .item-cards{
    displa
} */
.team{
    padding-left: -20px;
    margin-bottom: 10px;
}
.cart-btn{
    background-color: #5BA616;
    float: left;
}
/* .icons1{
    font-size: 100px;
} */

.div-items{
    margin-top: 50px;
}

.drop-btn{
    background-color: #5BA616 !important;
    color: white;
    border-color: black;
}

.side-bar{
    text-align: left;
    border-right: 1px;
    border-right-style: groove;
    /* margin-left: 10px; */
}

.side-bar-section{  
    margin-bottom: 45px;
}

.side-list{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 25px;
    padding-left: 10px;
}

.side-bar h4{
    color: #5BA616;
}

.side-list-items{
    font-size: large;
    display: inline;
    padding-left: 10px

}

.side-list hr{
    margin-top: 5px;
    margin-bottom: 5px;
}


.team:hover{box-shadow: 1px 1px 18px 4px lightgrey;}

.font-san-serif{
    font-family: 'Open Sans', sans-serif !important;
    color: white;
}

.item-view-sort{
    margin-bottom: 40px;
}
.item-name{
    padding-top: 30px;
    font-size: 40px;
    font-weight: 400;
}
.item-name:hover{
    color: #5BA616;
    text-decoration: none !important;
}
.stretch{
    font-size: 20px;
    font-weight: lighter;
    
}

.item-view{
    text-align: left;
    margin-right: 0px;
    display: inline;
}

.item-view .fa{
    margin-right: 55px;
    font-size: 2em;
}
.item-view .fa:hover{
    color: #5ba616;
}

.item-view .fa.active{
    color: #5ba616;
    border: none;
}

.item-sort{
    text-align: right;
    float: right;
}

.item-sort select:hover{
    border-color: #5ba616 !important;
}

.grid-view{
    padding-left: -20px;
}
.grid-view:hover{
    box-shadow: 1px 1px 18px 4px lightgrey;
    
}
h5.cursor-pointer{
    color:black
}

h5.cursor-pointer:hover{
    color:#5BA616
}

@media (min-width: 360px)  {
    .product-img-text h1{
      padding-right: 100px!important;
      text-align: center!important;
      font-size: 20px !important;
    }
  }

  .img-grid{
      width: 90%;
      height: 205px;
      text-align: center;

  }
  .grid-card-styling{
      width: 256px !important;
      border-color: white;
  }
  .grid-card-styling p{
    text-align: left;

  }


  .cursor-pointer{
      cursor: pointer;
  }

  .team img{

      border-radius: 20px;
      margin:0px
  }
  .prodImg{
      float: left;
      padding: 0px;
      text-align: left;
      height: 100%;
      width: 100%;
      border-radius: 25px !important;
      
    }
.data{
    float: right;

}

.horizontal-cards{
    cursor: auto;
}

.horizontal-cards button{
    font-weight: 300;
    font-size: 1em;
}

.horizontal-cards > *{
    text-align: left;
    font-weight: bold;
    
}

.horizontal-cards h2{
}
.horizontal-cards p{
    margin: 0;
}

.data p{
    font-size: 1em;
    color: rgba(148, 144, 137, 0.637);
    font-size: larger;
    font-weight: 400;
    text-align: left;
    /* min-height: 7vh; */
    max-height: 7vh;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.mainRight{
    padding: 0px !important;
    margin-left: 30px;
    margin-bottom: 10%;
}
.link-name:hover{
    text-decoration: none;
}

.load-more-btn button{
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    padding: 1em 2.5em;
    font-weight: bold;
    font-size: .8em;
}
.load-more-btn button:hover{
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1em;
    transition: 0.5s;
}

.mobile-filter-btn{
    display: none;
}

/* Side filter Navbar Mobile/Tablet View*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000 !important;
    top: 0;
    left: 0;
    background-color: #eee !important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
/*   
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  } */
  
  .sidenav a:hover {
    color: #f1f1f1;
  }


  
  .sidenav .closebtn {
    position: absolute;
    padding: 8px 8px 8px 32px;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 40px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


@media only screen and (max-width:767px){
    
    
    .product-detail-img-text{
        padding: 25%;
    }

    
    .item-sort{
        margin-top: 20px;
        text-align: left;
    }

    .item-view span.number-of-items{
        float: right;
        font-weight: bold;
    }
    .item-view img{
        margin-right: 35px !important;
    }
}

@media (max-width:991px){
    .mainRight{
        margin-left: 0;
    }

    .custom-row .side-bar{
        display: none;
    }
    .mobile-filter-btn{
        display: block;
        position: fixed;
        right: 20px;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        background: #5ba616;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        -webkit-box-shadow: 3px 0px 25px -5px rgba(0,0,0,0.65);
        -moz-box-shadow: 3px 0px 25px -5px rgba(0,0,0,0.65);
         box-shadow: 3px 0px 25px -5px rgba(0,0,0,0.65);
       
    }
    
    .mobile-filter-btn i{
        text-align: center;
        font-size: 18px;
    }
    
}